@font-face{
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face{
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Semibold.ttf') format('truetype');
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', Arial, Tahoma, PingFang SC, sans-serif, "Segoe UI Emoji", "Noto Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}